<h1>Show Message</h1>

<ul>

  <li>
    <strong>Body:</strong>
    <%= @message.body %>
  </li>

  <li>
    <strong>Read:</strong>
    <%= @message.read %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.conversation_message_path(@conn, :edit, @message) %></span> |
<span><%= link "Back", to: Routes.conversation_message_path(@conn, :index) %></span>
