<%= if @current_user do %>
my events
my friends
my groups
my places
<% end %>
https://elixirschool.com/en/lessons/ecto/associations
https://elixirforum.com/t/how-to-set-up-a-friend-system/43247
chat system next