<%= if @current_user do %>
<%= link "Add group", to: Routes.groups_path(@conn, :new)  %>
<br>
<%= for group <- @groups do %>


<%= group.title %>

<%= trunc(Geocalc.distance_between(group.geom.coordinates, @current_user.geom.coordinates) / 1000) %> km <br>

<% end %>
<% end %>