<%= img_tag Venue.Avatar.url({@user.avatar, @user}, :thumb, signed: true) %>
<h1>title: <%= @user.email %></h1>
<h1>city: <%= @user.city %></h1>
<h1>about: <%= @user.desc %></h1>
<h1>birth: <%= @user.birth %></h1>

