<%= img_tag Venue.Avatar.url({@user.avatar, @user}, :thumb, signed: true) %>
<h1>title: <%= @user.name %></h1>
<h1>city: <%= @user.city %></h1>
<h1>about: <%= @user.desc %></h1>
<% days = Date.diff(Date.utc_today(), @user.birth) %>
<%= trunc(days / 365) %> y/o
