<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "VAMOS", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body class="bg-gray-200">


<div class="container max-w-screen-lg mx-auto">
<div class="pt-8 pb-2 text-center">VAMOS</div>
<div class="flex justify">
  <div class="w-1/4 p-4">
    <%= if @current_user do %>


<div class="bg-gray-100 rounded-xl text-gray-900">
    <a href="" class="relative inline-flex items-center w-full px-4 py-2 text-normal font-medium border-b border-gray-200 rounded-t-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700">
      Messages
    </a>
    <a href="/" class="relative inline-flex items-center w-full px-4 py-2 text-normal font-medium border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700">

        Feed
    </a>
    <a href="/users" class="relative inline-flex items-center w-full px-4 py-2 text-normal font-medium border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700">

        People
    </a>
     <a href="/events" class="relative inline-flex items-center w-full px-4 py-2 text-normal font-medium border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700">

        Events
    </a>
      <a href="/groups" class="relative inline-flex items-center w-full px-4 py-2 text-normal font-medium border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700">

        Groups
    </a>
      <a href="/places" class="relative inline-flex items-center w-full px-4 py-2 text-normal font-medium rounded-b-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700">

        Photos
    </a>
</div>

         <% end %>
  </div>
  <div class="w-1/2">
   <%= @inner_content %>
  </div>
  <div class="w-1/4 p-4">

  <%= if @current_user do %>
<%= link to: Routes.users_path(@conn, :show, @current_user) do %>
<%= img_tag Venue.Avatar.url({@current_user.avatar, @current_user}, :thumb, signed: true), class: "rounded-2xl" %>
               <%= @current_user.name %>
<% end %>
<% end %>

<%= if @current_user do %>
<br/>
following:
 <%= for relation <- @profile.relationships do %>
    <tr>
      <td><%= relation.name %></td>
    </tr>
<% end %>
<br/>
followers:
 <%= for relation <- @profile.reverse_relationships do %>
    <tr>
      <td><%= relation.name %></td>
    </tr>
<% end %>

<br/>

friends:
 <%= for relation <- @profile.relationships do %>
    <tr>
      <td>
      <%=
           reverse = Enum.map(@profile.reverse_relationships, fn member -> member.id end)
           if relation.id in reverse, do: relation.name

           %>
      </td>
    </tr>
<% end %>

<br/>

<br/>
moje wydarzenia

 <%= for event <- @profile.events do %>
    <tr>
    <%= if NaiveDateTime.compare(event.date, NaiveDateTime.utc_now()) == :gt do %>
      <td><%= event.title %></td>
      <% end %>
    </tr>
<% end %>

<br/>
moje grupy:<br/>
 <%= for group <- @profile.groups do %>
    <tr>
      <td><%= group.title %></td>
    </tr>
<% end %>

  <li><%= link "My profile", to: Routes.users_path(@conn, :show, @current_user.id) %></li>
  <li><%= link "Settings", to: Routes.user_settings_path(@conn, :edit) %></li>
  <li><%= link "Log out", to: Routes.user_session_path(@conn, :delete), method: :delete %></li>
<% else %>
  <li><%= link "Register", to: Routes.user_registration_path(@conn, :new) %></li>
  <li><%= link "Log in", to: Routes.user_session_path(@conn, :new) %></li>
<% end %>

  </div>
  </div>
</div>
<div class="pt-8 pb-2 text-center">footer</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.phoenix.min.js"></script>
  </body>
</html>
